 .source-code-pro-project-text {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
}

body{
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    padding: 80px;
}

.container{
    width: 100%;
    max-width: 1100px;
    background: #fff;
    border-radius: 12px;
    display: flex;
    overflow: hidden;
}

/* LEFT SIDE */
.left-panel{
    flex: 1;
    padding: 80px;
    background: #fafafa;
}

.left-panel h1{
    font-size: 38px;
    margin-bottom: 30px;
}

.subtitle{
    color: #777;
    margin-bottom: 30px;
}

label{
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-top: 20px;
}

input{
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 6px;
    font-size: 14px;
}

.signin-btn{
    width: 100%;
    padding: 14px;
    margin-top: 30px;
    background: #e74a4a;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.signin-btn:hover{
    background: #d84242;
}

.google-btn{
    width: 100%;
    padding: 14px;
    margin-top: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.google-btn img{
    width: 20px;
}

.footer-text{
    text-align: center;
    margin-top: 20px;
    color: #777;
    font-size: 14px;
}

.footer-text a{
    color: #e74a4a;
    text-decoration: none;
}

/* RIGHT SIDE */
.right-panel{
    flex:2%;
    display: flex;
    align-items:left;
    justify-content: left;
}

.right-panel img{
    width: 70%;
    height:100%;
    object-fit: auto;
    justify-content: left;
}
.google-btn {
    width: 100%;
    padding: 14px;
    margin-top: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #000;
    text-decoration: none;
}

.google-btn img {
    width: 20px;
}
